.customNavBar {
  background: hsla(208, 7%, 55%, 1);

  background: linear-gradient(
    90deg,
    hsla(208, 7%, 55%, 1) 47%,
    hsla(191, 5%, 40%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(208, 7%, 55%, 1) 47%,
    hsla(191, 5%, 40%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(208, 7%, 55%, 1) 47%,
    hsla(191, 5%, 40%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#858e96", endColorstr="#60696b", GradientType=1 );



}
